.blog-container {
  display: flex;
  gap: 2rem;
  background-image: linear-gradient(to right, #123242, #8bdbdf)
}


.blog-main {
  flex: 1.8;
  margin-left: 6rem;
  margin-right: 5rem;
}



.post-card {
  display: flex;
  margin-bottom: 1.5rem;
  border-bottom: 1rem solid #bebebe;
  padding: 1rem;
  background: #66abc3;
  border-radius: 15px 50px 30px;
}

.post-card img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  margin-right: 1rem;
}

.blog-sidebar {
  flex: 0.5;
  background: #527e88;
  height: 100vw;
}

.sidebar-search {
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.sidebar-search input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.categories-panel {
  margin-left: 1.5rem; 
}

.categories-panel ul {
  list-style: none;
  padding: 0;
}

.categories-panel li {
  margin-bottom: 0.5rem;
}

.categories-panel li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.categories-panel img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.5rem;
}

#pagination-controls {
  margin-top: 1rem;
  text-align: center;
}

#pagination-controls button {
  margin: 0 0.25rem;
}