---
layout: default
---
{% comment %} Load MM CSS only here {% endcomment %}
<link rel="stylesheet" href="{{ '/assets/css/mm-blog.css' | relative_url }}">

<main class="layout--archive page">
  <header class="page__header">
    <h1 class="page__title">{{ page.title | default: 'Blog' }}</h1>
  </header>

  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="entries-list">
    {% for post in posts %}
      {% include mm/archive-single.html
        type="grid"
        entry=post
      %}
    {% endfor %}
  </div>

  {% if paginator %}
    {% include mm/pagination.html %}
  {% endif %}
</main>
